<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Binding</title>
</head>

<body>
    <h2 align="center">Property Binding Demonstration</h2>
    <button>Click here to Register!</button>

    <h2 align="center" [style.color]="textColor">Education</h2>
    <img [src]="imgUrl" alt="Education">

    <h2 align="center" [style.color]="textColor1">Health</h2>
    <img [src]="imgUrl1" alt="Health Care">

    <h2 align="center" [style.color]="textColor2">Agriculture</h2>
    <img [src]="imgUrl2" alt="Agriculture">

    <p align="center">pbind is working!</p>
</body>
</html>

    

